body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: image-set();
    background-image: url("images.jpeg");
    background-size: cover; 
    background-repeat: no-repeat; 
}

#countdown {
    font-size: 10em;
    text-align: center;
    color: black;
  
}